 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e9dfdf;
}
.App{
  background: #1e6870;
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
  color: #eee;
}
.navbar{
  padding: 10px 20px;
  text-align: center;
  background: #262D31
}
.navbar h1{
  margin: 10px 0;
  font-family: cursive ;
}
.flex-container {
  display: flex; 
}


.List{
  margin: 20px;
}
.List ul{
  padding: 0;
  list-style-type: none;
}
.List li{
  background: #262D31;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
.List li:hover{
  
  text-decoration: line-through;
}
.List .TList{
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
  margin:10px
}
.List .Time{
  font-size: 0.9em;
  color: #ddd;
  margin:10px
}
.empty{
  margin: 20px;
  text-align: center;
}

.button {
  background-color: #d3c2c2; 
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
}
.button:hover {
  background-color: #be2424;
  color: white;
}



form{
  padding: 20px;
}
input[type='text'],[type='time'] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #262D31;
  color: #fff;
  border: 0;
}
input[type='submit']{
  margin: 10px auto;
  background: #eee;
  border: 0;
  padding: 6px 20px;
  display: block;
  border: 2px solid #262D31;
}
input[type='submit']:hover {
  background-color: #262D31;
  color: white;
}

